<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nicholas' Shibboleth Emulator</title>
</head>
<body>
<h1>Nicholas' Shibboleth Emulator</h1>
<p>Specify the Shibboleth details you'd like to send to the backend.</p>
<form action="{{ path }}" method="GET">

    <input type="hidden" name="shibboleth_proxy_complete" value="true"/>

    <label>
        Method
        <select name="method">
            <option value="GET" {% if method == 'GET' %}selected{% endif %}>GET</option>
            <option value="POST" {% if method == 'POST' %}selected{% endif %}>POST</option>
            <option value="PUT" {% if method == 'PUT' %}selected{% endif %}>PUT</option>
            <option value="PATCH" {% if method == 'PATCH' %}selected{% endif %}>PATCH</option>
            <option value="OPTIONS" {% if method == 'OPTIONS' %}selected{% endif %}>OPTIONS</option>
            <option value="DELETE" {% if method == 'DELETE' %}selected{% endif %}>DELETE</option>
        </select>
    </label>
    <br>

    {% for header in headers %}
        <label>
            {{ header }}
            <input type="text" name="{{ header }}" value="{{ headers[header] }}">
        </label>
        <br>
    {% endfor %}
    <br>

    <button type="submit">Continue</button>
    <p>Continuing will pass this data to {{ path }}</p>

</form>

</body>
</html>